.env
.env.*
!.env.example

.git
.gitignore

vendor/
web/wp/

web/app/uploads/
web/app/cache/

web/app/plugins/b2b-core/vendor/

web/app/themes/my-theme/vendor/
web/app/themes/my-theme/node_modules/
web/app/themes/my-theme/public/build/
web/app/themes/my-theme/storage/logs/
web/app/themes/my-theme/storage/framework/cache/
web/app/themes/my-theme/storage/framework/views/

node_modules/

*.log
debug.log
tmp_*.php
*.tmp
*.bak

.DS_Store
Thumbs.db
.idea/
.vscode/