# ENV
.env
.env.*
!.env.example

# COMPOSER / VENDOR
/vendor/
/composer.phar
auth.json

# Plugin vendor
/web/app/plugins/b2b-core/vendor/

# Theme vendor
/web/app/themes/my-theme/vendor/

# WORDPRESS CORE
/web/wp/
/web/.htaccess

# UPLOADS / CACHE
/web/app/uploads/*
!/web/app/uploads/.gitkeep

/web/app/cache/*
!/web/app/cache/.gitkeep

/web/app/upgrade/

# MU PLUGINS
/web/app/mu-plugins/*/

# DEFAULT WORDPRESS THEMES
/web/app/themes/twentytwentyfive/
/web/app/themes/twentytwentyfour/
/web/app/themes/twentytwentythree/

# NODE MODULES
node_modules/

/web/app/themes/my-theme/node_modules/

# SAGE / VITE BUILD
/web/app/themes/my-theme/public/build/
/web/app/themes/my-theme/public/hot

# STORAGE / CACHE / LOGS
/web/app/themes/my-theme/storage/logs/
/web/app/themes/my-theme/storage/framework/cache/
/web/app/themes/my-theme/storage/framework/views/

*.log
debug.log

# TEMP FILES
tmp_*.php
*.tmp
*.bak

# IDE / OS
.DS_Store
Thumbs.db

.idea/
.vscode/

# DOCKER
docker-compose.override.yml

# WP CLI
wp-cli.local.yml